<div class="card">
  <div class="inner">
    <div>
      <h1>17 &#8451;</h1>
      <h5>Mostly Clear</h5>
    </div>
    <h3>&#8982; Athens</h3>
  </div>

  <div class="sideCont">
    <div class="dailyTemp">
      <h4>Tomorrow</h4>
      <div>
        <h3>17 &#8451;</h3>
        <h5>Mostly Clear</h5>
      </div>
    </div>
    <div class="dailyTemp">
      <h4>Monday</h4>
      <div>
        <h3>15 &#8451;</h3>
        <h5>Mostly Clear</h5>
      </div>
    </div>
    <div class="dailyTemp">
      <h4>Tuesday</h4>
      <div>
        <h3>16 &#8451;</h3>
        <h5>Mostly Clear</h5>
      </div>
    </div>
  </div>
</div>
