<div class="content" role="main">
  <div class="card-container">
    <app-card id="card1"></app-card>
    <div class="inner-card-container">
      <div class="inner-cont-col">
        <app-inner-card class="inner" title="Wind" subTitle="Today's Wind Speed" info="12 Km/h" img="../../assets/compass.png"></app-inner-card>
        <app-inner-card class="inner" title="Rain Chance" subTitle="Today's Rain Chance" info="10 %" img="../../assets/slider.png"></app-inner-card>
      </div>

      <app-chart-card class="chartCard"></app-chart-card>
    </div>
  </div>

  <app-dropdown class="dropdown-container"></app-dropdown>
</div>
