/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(https://img.freepik.com/free-photo/sunshine-clouds-sky-during-morning-background-blue-white-pastel-heaven-soft-focus-lens-flare-sunlight-abstract-blurred-cyan-gradient-peaceful-nature-open-view-out-windows-beautiful-summer-spring_1253-1092.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}